<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Galerija slika</title>
  <link rel="stylesheet" href="/Styles/style.css">
  <link rel="stylesheet" href="/Styles/style_slike.css">
</head>
<body>
<header>
		<h1>Filmofili</h1>
		</header>
		
    
		<nav class="nav-menu"> <!-- dodati obilježja za ARIA-->
			<input type="checkbox" id="menu-toggle">
			<label for="menu-toggle" class="hamburger" aria-label="Otvori navigaciju">
			☰
  			</label>

			<ul class="menu"> <!-- dodati da je navigacija lijevo poravnata i da je skrivena
								
				LV1: bez upotrebe javascripta -->
				<li><a href="../index.html">Početna</a></li>
				<li><a href="../Pages/grafikon.html">Grafikoni</a></li>
				<li><a href="slike ">Slike</a></li>
				
			</ul>
		</nav>
<h1>Galerija slika</h1>

<section class="gallery">
  <% images.forEach((image, index) => { %>

    <!-- normalna slika -->
    <a href="#img<%= index %>">
      <img src="<%= image.url %>" alt="<%= image.title %>">
    </a>

    <!-- LIGHTBOX (skriven default) -->
    <div id="img<%= index %>" class="lightbox">
      <a href="#" class="close">✖</a>
      <img src="<%= image.url %>" alt="<%= image.title %>">
      <p><%= image.title %></p>
    </div>

  <% }); %>
</section>
</body>
</html>